<section class="about">
  <div class="container">
    <h2>About Me</h2>
    <div class="about-content">
      <div class="about-image">
        <img src="../../assets/images/Naveen381.jpg" alt="Naveen">
      </div>
      <div class="about-text">        <p>
          Hello, I'm Naveen!
          <br>
          I'm an Associate Software Engineer at Biz2X and a B.Tech graduate in Computer Science Engineering from NSUT. I have a strong foundation in software development, with a passion for building innovative solutions and improving digital experiences. My technical expertise includes Full Stack Web Development & Machine Learning, and I'm always eager to learn and grow in the dynamic field of technology.
        </p>
        <p>
          My journey in the tech world has been driven by a love for problem-solving
          and a desire to create impactful solutions. I enjoy working on projects that
          challenge me and push the boundaries of what's possible. Whether it's
          developing a complex web app or exploring quantum computing, I'm always
          eager to learn and grow.
        </p>
        <p>
          When I'm not coding, you might find me exploring new tech trends, working
          on personal projects, or spending time with family and friends. Feel free
          to get in touch to discuss potential collaborations or just to connect!
        </p>
      </div>
    </div>
  </div>
</section>
